importFrom("graphics", "abline", "legend", "par")
importFrom("stats", "sd")
importFrom("utils", "head", "tail", "globalVariables")
importFrom("dplyr", "filter", "%>%", "n_distinct", "summarise", "group_by")
importFrom("lubridate", "is.POSIXct")
importFrom("zoo", "rollmean")
importFrom("openxlsx", "write.xlsx")

export(Demo_Data)
export(WaterDepth_mbar)
export(WaterDepth_kPa)
export(Clean_Depth_Data)
export(Plot_Inspection)
export(Summary_Table)
export(Event_Table)
export(Temperature_Table)
export(Export_Tables)
export(ID_Inundation)
